* {
    margin: 0 auto;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body{
    background-image: linear-gradient(to bottom, #0a0c10, #1f2833, #0a0c10);
    color: white;
}

p{
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 5rem;
    font-size: 2rem;
    line-height: 4rem;
        text-align: center;

}

h1{
    text-align: center;
    color: #66fcf1;
    font-size: 6rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1.3rem 2rem 1rem 0rem;
  width: 100%;
  height: 100%;
  position: fixed; 
  overflow: hidden;
}

li{
    display: inline;
    text-align: center;
    padding: 10rem 3rem 1.7rem 3rem;
    border-right: .1rem solid #c5c6c7;
    height: 5rem;

}
li:hover{
    -webkit-transition: background .4s ease-in;
    background-color: #27323f;
}

li.active{
    background-color: #27323f;
}

a {
    text-decoration: none;
}

button{
    background-color: white;

}

#header {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black
}

#navigation {
    float: left;
}

.nav_link {
    font-size: 2rem;
    color: #66fcf1;
    text-align: center;
}
#content{
    margin-top: 6rem;
}

#news_table{
    margin: auto auto 10rem auto;
    border: 1rem solid black;
}
#news_table td{
    padding: 1rem 4rem 1rem 5rem;
    text-align: left;
    border: .5rem solid black;

}

#footer {
    background-color: #888888;
    color: #FFFFFF;
    padding: 1.5rem;
}